<!-- 

 <flipper-basic-pos
  [currentOrder]="currentOrder"
  [collectCashCompleted]="collectCashCompleted"
  [currency]="currency"
  (addToCartEmit)="addToCart($event)"
  [foundVariant]="foundVariant"
  (searchEmitValue)="searchPosVariant($event)"
  (saveOrderUpdatedEmit)="saveOrderUpdated($event)"
  (didCollectCashEmit)="didCollectCash($event)">
</flipper-basic-pos
>
  -->
 
  <!-- <flipper-notification></flipper-notification> -->
  <!-- <flipper-settings></flipper-settings> -->
  <!-- <flipper-menu></flipper-menu> -->

  <!-- <section class="c-wrapper">
    <div class="c-wrapper__row">
      <flipper-payment-card app="Flipper" currency="$" amount="25" loading="true"></flipper-payment-card>
    </div>
  </section> -->

   <!-- <flipper-products></flipper-products> -->
   <!-- <router-outlet #outlet="outlet"></router-outlet> -->
  <!-- <flipper-products></flipper-products> -->
  <!-- <div style="margin-left: 30px; margin-top:30px"> -->
  <!-- <flipper-file-upload (imageUploaded)="viewImageUploaded($event)" baseImage="./assets/icons/add-image-placeholder.PNG" baseTitle="Upload" baseWidth="200" baseHeight="200" [activeColor]="'orangered'" [baseColor]="'lightgray'"></flipper-file-upload> -->
<!-- </div> -->
<!-- <flipper-dashboard [currency]="currency" [totalRevenue]="totalRevenue" [totalStore]="totalStore" [netProfit]="netProfit"
 [grossProfit]="grossProfits" [lowStockItem]="lowStockItem" [topSoldItem]="topSoldItem"></flipper-dashboard> -->
<!-- <flipper-basic-pos
[currentOrder]="currentOrder"
[collectCashCompleted]="collectCashCompleted"
[currency]="currency"
(addToCartEmit)="addToCart($event)"
[foundVariant]="theVariantFiltered"
(searchEmitValue)="iWantToSearchVariant($event)"
(saveOrderUpdatedEmit)="saveOrderUpdated($event)"
(updateOrderDetailsEmit)="updateOrderDetails($event)"
(didCollectCashEmit)="didCollectCash($event)">
</flipper-basic-pos> -->

