<!-- 

 <flipper-basic-pos
  [currentOrder]="currentOrder"
  [collectCashCompleted]="collectCashCompleted"
  [currency]="currency"
  (addToCartEmit)="addToCart($event)"
  [foundVariant]="foundVariant"
  (searchEmitValue)="searchPosVariant($event)"
  (saveOrderUpdatedEmit)="saveOrderUpdated($event)"
  (didCollectCashEmit)="didCollectCash($event)">
</flipper-basic-pos
>
  -->
  <!-- <flipper-settings></flipper-settings> -->
  <flipper-notification></flipper-notification>
  <router-outlet></router-outlet>
  <!-- <div style="margin-left: 30px; margin-top:30px"> -->
  <!-- <flipper-file-upload (imageUploaded)="viewImageUploaded($event)" baseImage="./assets/icons/add-image-placeholder.PNG" baseTitle="Upload" baseWidth="200" baseHeight="200" [activeColor]="'orangered'" [baseColor]="'lightgray'"></flipper-file-upload> -->
<!-- </div> -->